.Multiselect{
    position: absolute;
    right: 90px;
    text-align: right;
    margin: 50px 20px 0px 0px;
    background-color: #eee;
    width: 15em;
    height: 25px;
    border: none;
}

.Multiselect *{
    background-color: #eee;
}

.Multiselect-Option:hover{
    background-color: green;
}